# IDEA editor
.idea
.DS_Store

# Dependency directory
# Commenting this out is preferred by some people, see
node_modules
package-lock.json

# dotenv environment variables file
.env

# vs-code workspace
*.code-workspace
.vscode/

# mocha test coverage
coverage/
.nyc_output/

#logs
logs/*.log
